connection:
  host: "localhost"
  port: "3306"
  user: "test"
  password: "test"
  raise_on_warnings: false
database_source: "blocklog"
database_destination: "blocklog_counter"
table_prefix: "bc_"
worlds_to_proccess:
- "lb-world"
- "lb-mine"
maximum_processed: 100000
debugging: true
