connection:
  host: 'localhost'
  port: '3306'
  user: 'test'
  password: 'test'
  raise_on_warnings: false
database: 'dev_mc_blocklog'
get_worlds:
- '`lb-world`'
# - '`lb-mine`'
# - '`lb-minearea`'
# - '`lb-aluron-world`'
number_of_items: 10000000
